.close-save {
  text-align: center;
  position: relative;

}
.create-poll-form {
  text-align: center;
}

.active-voters {
    width: 200px;
    text-align: center;
}

.fade-appear {
  opacity: 0;
  max-height: 0; 
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: all 1000ms ease;
  max-height: 750px;    
}

// .fade-enter {
//   opacity: 0;
//   max-height: 0; 
// }

// .fade-enter.fade-enter-active {
//   opacity: 1;
//   transition: all 1000ms ease;
//   max-height: 750px;    
// }