@import '_vars';

.room {
  position: relative;

  h1 {
    padding: $large-pad;
    margin-right: 130px;
    @media only screen and (min-width: 600px) {
      font-size: $font-lg-fixed;
      padding: $medium-pad-fixed;
    }
  }

  .close-button-div {
    padding-left: $medium-pad-fixed;

    @media only screen and (min-width: 600px) {
      position: absolute;
      top: 17px;
      right: 10px;
    }
  }

  .active-voters {
    padding: $medium-pad-fixed;
    margin: $medium-fixed-margin 0;
    font-size: $font-sm-fixed;
  }
  
  .fade-appear {
    opacity: 0;
    max-height: 0; 
  }
  
  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: all 1000ms ease;
    max-height: 750px;    
  }
}

.instruction {
  h3 {
    font-size: $font-sm-fixed;
    padding: $small-pad-fixed;
  }

  p {
    padding: $small-pad-fixed;      
  }

  margin: $large-percentage-margin 0;
  padding: $large-pad; 

  @media only screen and (min-width: 600px) {
    margin: $large-pad-fixed 0;
    padding: $large-pad-fixed; 
  }
}
