@import '_vars';

.room {

  h1 {
    padding: $large-pad;

    @media only screen and (min-width: 600px) {
      font-size: $font-lg-fixed;
      padding: $medium-pad-fixed;
    }
  }

  .active-voters {
    padding: $medium-pad-fixed;
    text-align: center;
    margin: $medium-fixed-margin 0;
    font-size: $font-sm-fixed;
  }
  
  .instruction {
    h3 {
      font-size: $font-sm-fixed;
      padding: $small-pad-fixed;
    }

    p {
      padding: $small-pad-fixed;      
    }

    margin: $large-percentage-margin 0;
    padding: $large-pad; 
  }
  
  .fade-appear {
    opacity: 0;
    max-height: 0; 
  }
  
  .fade-appear.fade-appear-active {
    opacity: 1;
    transition: all 1000ms ease;
    max-height: 750px;    
  }
}
