@import '../../style/vars';

h2.signup-login-header {
  text-align: center;

  @media only screen and (min-width: 600px) {
    font-size: 4vw;
  }

  @media only screen and (min-width: 960px) {
    font-size: 38.4px;
  }
}

.signup-login-toggle {
  text-align: center;

  @media only screen and (min-width: 600px) {
    float: left;
    width: 40%;
  }
}

.auth-form {
  @media only screen and (min-width: 600px) {
    width: 50%;
    float: right; 
    margin-right: 2.5%;
  }
}
