
// Colors
$primary-red: #EC1940;

// Margin and Padding
$small-pad: 0.5vw;
$medium-pad: 1vw;
$large-pad: 3vw;
$default-button-margin: 0.5vw;
$medium-fixed-margin: 10px;
$large-fixed-margin: 20px;
$large-percentage-margin: 10%;

// Font
$font-main: 'Lato', sans-serif;
$font-mono: 'Roboto Mono', monospace;
