@import '../../style/_vars.scss';

.auth-form {
  text-align: center;

  .input-field {
    margin: 0 auto;
    max-width: 300px;
    position: relative;
  }

  .form-error {
    margin-top: 1em;
    width: 100%;
    position: absolute;
    color: $primary-red-light;
    font-size: $font-size-error;
  }
}

.auth-error-modal {
  text-align: center;
}
