@import '../../style/vars';

.poll-item{
  list-style-type: none;
}

.meter-and-stars {
  list-style-type: none;
  text-align: center;

   @media only screen and (min-width: 600px) {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.meter-and-stars div {
  text-align: center;
}

.meter-and-stars-container {
  width: 100%;
  margin-left:auto;

}

.question-container {
  padding: 20px;
  margin-top: $medium-large-pad-fixed;

  .votes {
    text-align: right;
    font-size: $font-sm;

    @media only screen and (min-width: 500px) {
      font-size: $font-sm-fixed;
    }
  }

  .question-render {
    overflow-wrap: break-word;
    font-size: $font-sm;
    line-height: $font-sm-fixed + 4px;

    @media only screen and (min-width: 500px) {
      line-height: $font-md-fixed;
      font-size: $font-sm-fixed;
    }
  }
}
