@import 'vars';

.app {
  // margin-top: 5px;
  padding: $medium-pad;
}

.nav-wrapper {
  position: relative;
  margin-left: auto;
  text-align: right;
  // height: 50px;
  display: grid;
  // grid-template-rows: 60px;
  grid-template-columns: repeat(10, auto);
  grid-gap: 10px;
}

.saved-link, .login-logout-button {
  margin: $small-pad;
}

.login-logout-button {
  grid-column: 10 / span 1;
}

.saved-link {
  grid-column: 1 / span 1;
  .saved-button {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
  grid-column: 9 / span 1;    
  }
}
